.hide_while_loading {
    display: none; }

  .show_while_loading {
    display: block; }

  .loading_box_main_container {
    width: 600px;
    height: 60px;
    margin: 1rem auto; }

  .loading_box_wrapper {
    display: flex;
    flex-wrap: wrap; }

  .loading_box {
    width: 600px;
    height: 60px; }

  .loading_box .loading_cube {
    background-color: #3030A0;
    width: 20px;
    height: 20px;
    background-color: #3030B0;
    float: left;
    -webkit-animation: loading_box 5s infinite ease-in-out;
    animation: loading_box 5s infinite ease-in-out; }

  .loading_box .loading_cube_1_1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

  .loading_box .loading_cube_1_2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }

  .loading_box .loading_cube_1_3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }

  .loading_box .loading_cube_1_4 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }

  .loading_box .loading_cube_1_5 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }

  .loading_box .loading_cube_1_6 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }

  .loading_box .loading_cube_1_7 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }

  .loading_box .loading_cube_1_8 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

  .loading_box .loading_cube_1_9 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

  .loading_box .loading_cube_1_10 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s; }

  .loading_box .loading_cube_1_11 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }

  .loading_box .loading_cube_1_12 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s; }

  .loading_box .loading_cube_1_13 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s; }

  .loading_box .loading_cube_1_14 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }

  .loading_box .loading_cube_1_15 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s; }

  .loading_box .loading_cube_1_16 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s; }

  .loading_box .loading_cube_1_17 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }

  .loading_box .loading_cube_1_18 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s; }

  .loading_box .loading_cube_1_19 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

  .loading_box .loading_cube_1_20 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }

  .loading_box .loading_cube_1_21 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s; }

  .loading_box .loading_cube_1_22 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s; }

  .loading_box .loading_cube_1_23 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }

  .loading_box .loading_cube_1_24 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s; }

  .loading_box .loading_cube_1_25 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s; }

  .loading_box .loading_cube_1_26 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s; }

  .loading_box .loading_cube_1_27 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s; }

  .loading_box .loading_cube_1_28 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s; }

  .loading_box .loading_cube_1_29 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }

  .loading_box .loading_cube_1_30 {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s; }

  .loading_box .loading_cube_2_1 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }

  .loading_box .loading_cube_2_2 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }

  .loading_box .loading_cube_2_3 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }

  .loading_box .loading_cube_2_4 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }

  .loading_box .loading_cube_2_5 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }

  .loading_box .loading_cube_2_6 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }

  .loading_box .loading_cube_2_7 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

  .loading_box .loading_cube_2_8 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

  .loading_box .loading_cube_2_9 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s; }

  .loading_box .loading_cube_2_10 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }

  .loading_box .loading_cube_2_11 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s; }

  .loading_box .loading_cube_2_12 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s; }

  .loading_box .loading_cube_2_13 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }

  .loading_box .loading_cube_2_14 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s; }

  .loading_box .loading_cube_2_15 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s; }

  .loading_box .loading_cube_2_16 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }

  .loading_box .loading_cube_2_17 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s; }

  .loading_box .loading_cube_2_18 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

  .loading_box .loading_cube_2_19 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }

  .loading_box .loading_cube_2_20 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s; }

  .loading_box .loading_cube_2_21 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s; }

  .loading_box .loading_cube_2_22 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }

  .loading_box .loading_cube_2_23 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s; }

  .loading_box .loading_cube_2_24 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s; }

  .loading_box .loading_cube_2_25 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s; }

  .loading_box .loading_cube_2_26 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s; }

  .loading_box .loading_cube_2_27 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s; }

  .loading_box .loading_cube_2_28 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }

  .loading_box .loading_cube_2_29 {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s; }

  .loading_box .loading_cube_2_30 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s; }

  .loading_box .loading_cube_3_1 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }

  .loading_box .loading_cube_3_2 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }

  .loading_box .loading_cube_3_3 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }

  .loading_box .loading_cube_3_4 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }

  .loading_box .loading_cube_3_5 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }

  .loading_box .loading_cube_3_6 {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }

  .loading_box .loading_cube_3_7 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

  .loading_box .loading_cube_3_8 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s; }

  .loading_box .loading_cube_3_9 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s; }

  .loading_box .loading_cube_3_10 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s; }

  .loading_box .loading_cube_3_11 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s; }

  .loading_box .loading_cube_3_12 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s; }

  .loading_box .loading_cube_3_13 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s; }

  .loading_box .loading_cube_3_14 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s; }

  .loading_box .loading_cube_3_15 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s; }

  .loading_box .loading_cube_3_16 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s; }

  .loading_box .loading_cube_3_17 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s; }

  .loading_box .loading_cube_3_18 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s; }

  .loading_box .loading_cube_3_19 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s; }

  .loading_box .loading_cube_3_20 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s; }

  .loading_box .loading_cube_3_21 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s; }

  .loading_box .loading_cube_3_22 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s; }

  .loading_box .loading_cube_3_23 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s; }

  .loading_box .loading_cube_3_24 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s; }

  .loading_box .loading_cube_3_25 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s; }

  .loading_box .loading_cube_3_26 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s; }

  .loading_box .loading_cube_3_27 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s; }

  .loading_box .loading_cube_3_28 {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s; }

  .loading_box .loading_cube_3_29 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s; }

  .loading_box .loading_cube_3_30 {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s; }

  @-webkit-keyframes loading_box {
    0%, 50% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
      background-color: #3030B0; }
    25%, 75% {
      -webkit-transform: scale3D(0.1, 0.1, 1);
      transform: scale3D(0.1, 0.1, 1); }
    5%, 45%, 55%, 95% {
      background-color: #3030A0; } }

  @keyframes loading_box {
    10%, 40%, 60%, 90% {
      -webkit-transform: scale3D(1, 1, 1);
      transform: scale3D(1, 1, 1);
      background-color: #3030B0; }
    25%, 75% {
      -webkit-transform: scale3D(0.1, 0.1, 1);
      transform: scale3D(0.1, 0.1, 1); }
    10%, 40%, 60%, 90% {
      background-color: #3030A0; } }

  .carps_modal_form label, .carps_modal_form input, .carps_modal_form textarea {
    width: 100%; }

  .carps_modal_form .select2-container, .carps_modal_form .select2-container--default .select2-selection--single {
    width: 100% !important; }

  .carps_modal_form_wrapper {
    display: none; }

.pre_req_container {
    display: flex;
}

.pre_req_container input{
    width: auto;
}

.pre_req_display {
    display: flex;
}

.pre_req_display:nth-child(even) {
    background: #dddddd;
}

.pre_req_display div {
    flex: 1;
    font-size: 1rem;
    padding: 1rem;
}

input[type=checkbox].base_checkbox {
    display: none; }

  .tgl {
    display: none; }
    .tgl, .tgl:after, .tgl:before,
    .tgl *,
    .tgl *:after,
    .tgl *:before,
    .tgl + .tgl-btn {
      box-sizing: border-box; }
      .tgl::selection, .tgl:after::selection, .tgl:before::selection,
      .tgl *::selection,
      .tgl *:after::selection,
      .tgl *:before::selection,
      .tgl + .tgl-btn::selection {
        background: none; }
    .tgl + .tgl-btn {
      outline: 0;
      display: block;
      width: 4em;
      height: 2em;
      position: relative;
      cursor: pointer;
      user-select: none; }
      .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
        position: relative;
        display: block;
        content: "";
        width: 50%;
        height: 100%; }
      .tgl + .tgl-btn:after {
        left: 0; }
      .tgl + .tgl-btn:before {
        display: none; }
    .tgl:checked + .tgl-btn:after {
      left: 50%; }

  .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    font-family: sans-serif;
    perspective: 100px; }
    .tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
      display: inline-block;
      transition: all .2s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 4px; }
    .tgl-flip + .tgl-btn:after {
      content: attr(data-tg-on);
      background: #02C66F;
      transform: rotateY(-180deg); }
    .tgl-flip + .tgl-btn:before {
      background: #FF3A19;
      content: attr(data-tg-off); }
    .tgl-flip + .tgl-btn:active:before {
      transform: rotateY(-20deg); }

  .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg); }

  .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6; }

  .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg); }