.carps_race_accordion_list {
    list-style: none;
    padding: 0;
}

.carps_race_accordion_list a {
    margin: 0;
    text-decoration: none;
}

.carps_race_accordion_list p {
    font-size:1.1em;
    margin: 1em 0;
}

.toggle {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    /* width: 100%; */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .carps_accordion:hover {
    background-color: #ccc;
}

.carps_race_accordion_list a:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.carps_race_accordion_list a:after {
    content: "\2212";
}

.carps_panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


.carps_race_accordion_list .inner {
    padding-left: 0;
    overflow: hidden;
    display: none;
}

.carps_race_accordion_list li {
    margin: .5em 0;
}

.site .carps_race_accordion_list li a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
    /* width: 100%; */
    display: block;
    background: rgba(0,0,0,0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}

.carps_race_accordion_list li a.toggle {
    /* width: 100%; */
    display: block;
    background: rgba(0,0,0,0.78);
    color: #fefefe;
    padding: .75em;
    border-radius: 0.15em;
    transition: background .3s ease;
}

.carps_race_accordion_list li a.race_toggle {
    background: #7070f0;
}

.site .carps_race_accordion_list li a.race_toggle:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
    background: #4040d0;
}
.carps_race_accordion_list li a.skill_toggle {
    background: #70aef0;
}

.site .carps_race_accordion_list li a.skill_toggle:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
    background: #4092d0;
}
.carps_race_accordion_list li a.sub_skill_toggle {
    background: #54b3a6;
}

.site .carps_race_accordion_list li a.sub_skill_toggle:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
    background: #339781;
}

.carps_race_accordion_list li a.toggle:hover {
    color: #444444;
}

.carps_skill_modal {
    display: none;
}

#carps_table_wrapper {
    width: 100%;
    max-width: calc(100% - 10rem);
    margin: 0;
    font-size: 1rem;
}
